header {
    // border: var(--border);

    .header_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;

        .logo {
            // border: var(--border);
            width: 131px;

            img {
                padding-top: 5px;
            }
        }

        .right_content {
            flex: 1;
            display: flex;
            justify-content: space-between;

            .nav {
                // border: var(--border);
                flex: 1;
                display: grid;
                align-items: center;
            }

            .extra_links {
                display: flex;

                .search {
                    // border: var(--border);

                    a {
                        padding-top: 6px;
                    }
                }

                .nav_control {
                    // border: var(--border);
                    display: none;
                    align-items: center;

                    a {
                        line-height: 10px;
                    }
                }
            }

            @include custom_media(0px, 991.9px) {
                justify-content: flex-end;

                .nav {
                    order: 2;
                    flex: unset;
                    ul{
                        li{
                            &.close_nav{
                                display: block;
                            }
                        }
                    }
                }

                .extra_links {
                    order: 1;
                    gap: 10px;

                    .nav_control {
                        display: grid;
                    }
                }
            }
        }
    }
}